{% extends 'main.html' %}

{% block main %}
<div class="card" style="width: 18rem; float:left;">
    <img class="card-img-top" src="{{user.avatar(200)}}" alt="Card image cap">
    <div class="card-body">
        <strong>Username: </strong><span>{{user.username}}</span><br>
        <strong>Bio: </strong><span>{{user.bio}}</span><br>
        <strong>joined: </strong><span>{{user.joined}}</span><br>
        <button type="button" class="btn btn-secondary btn-block">Playlists</button>
        {% if user == current_user %}
        <button type="button" class="btn btn-success btn-block">Edit</button>
        {% endif %}
        {% if user.last_seen %}
        <p class='text-muted'>Last seen on: {{ user.last_seen }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
