{% extends 'main.html' %}

{% block main %}
<div class="card" style="width: 18rem; float:left;">
    <img class="card-img-top" src="{{user.avatar(200)}}" alt="Card image cap">
    <div class="card-body">
        <strong>Username: </strong><span>{{user.username}}</span><br>
        <strong>Bio: </strong><span>{{user.bio}}</span><br>
        <strong>joined: </strong><span>{{user.joined}}</span><br>
        <button type="button" class="btn btn-secondary btn-block">Playlists</button>
        {% if user.last_seen %}
        <p class='text-muted'>Last seen on: {{ user.last_seen }}</p>
        {% endif %}
    </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="">Showcase</a>
  </li>
  <li class="nav-item">
    <a class="nav-link playlists" href="">Playlists</a>
  </li>
  <li class="nav-item">
    {% if current_user == user %}
    <a class="nav-link edit" href="">Edit</a>
    {% else %}
    <a class="nav-link disabled edit" href="#">Edit</a>
    {% endif %}
  </li>
</ul>
<br>
<div class="contents">
	<div class="Showcase tabs">
		{% if user == current_user %}
			{% if showcases %}
				{% for artwork in showcases %}
				<div class="card">
				  <img class="card-img-top feat-art" src="{{ url_for('static', filename=artwork.img_url) }}" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">{{artwork.title}}</h5>
					<p class="card-text"><strong>Date:</strong> {{artwork.date}}<br><strong>Technique:</strong> {{artwork.technique}}<br><strong>Location:</strong> {{artwork.location}}</p>
					<p class="card-text"><small class="text-muted"><a href="{{url_for('art', id=artwork.id)}}">view</a></small></p>
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<p class="card-text">
					<small class="text-muted">
						You dont have any Showcases
					</small>
				</p>
			{% endif %}
			<button type="button" class="btn btn-secondary btn-block">Upload Art</button>
		{% else %}
			{% if showcases %}
				{% for artwork in showcases %}
				<div class="card">
				  <img class="card-img-top feat-art" src="{{ url_for('static', filename=artwork.img_url) }}" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">{{artwork.title}}</h5>
					<p class="card-text"><strong>Date:</strong> {{artwork.date}}<br><strong>Technique:</strong> {{artwork.technique}}<br><strong>Location:</strong> {{artwork.location}}</p>
					<p class="card-text"><small class="text-muted"><a href="{{url_for('art', id=artwork.id)}}">view</a></small></p>
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<p class="card-text">
					<small class="text-muted">
						{{ user.username }} dosen't have any Artwork
					</small>
				</p>
			{% endif %}
		{% endif %}
	</div>

	<div class="Playlists tabs hidden">
		{% if user == current_user %}
			{% if playlists %}
				{% for playlist in playlists %}
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{playlist.title}}</h5>
					<p class="card-text">{{playlist.desc}}</p>
					<p class="card-text"><small class="text-muted"><a href="{{url_for('playlist', id=playlist.id)}}">view</a></small></p>
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<p class="card-text">
					<small class="text-muted">
						You dont have any Playlists
					</small>
				</p>
			{% endif %}
			<button type="button" class="btn btn-secondary btn-block">Make Playlist</button>
		{% else %}
			{% if playlists %}
				{% for playlist in playlists %}
				<div class="card">
				  <img class="card-img-top feat-art" src="{{ url_for('static', filename=playlist.img_url) }}" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">{{playlist.title}}</h5>
					<p class="card-text">playlist description! DEV DONT FORGET!!</p>
					<p class="card-text"><small class="text-muted"><a href="{{url_for('playlist', id=playlist.id)}}">view</a></small></p>
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<p class="card-text">
					<small class="text-muted">
						{{ user.username }} dosen't have any Playlists
					</small>
				</p>
			{% endif %}
		{% endif %}
	</div>

	{% if current_user == user %}
	<div class="Edit tabs hidden">
			<form action="" method="post">
			    {{form.hidden_tag()}}
			    <p>
			        {{form.password.label}}<br> {{form.password(size=32)}}
			        <br> {% for error in form.password.errors %}
			        <span style="color: red;">[{{error}}]</span> {% endfor %}
			    </p>
			    <p>
			        {{form.email.label}}<br> {{form.email(size=32)}}
			        <br> {% for error in form.email.errors %}
			        <span style="color: red;">[{{error}}]</span> {% endfor %}
			    </p>
			    <p>
			        {{form.bio.label}}<br> {{form.bio(size=32)}}
			        <br> {% for error in form.bio.errors %}
			        <span style="color: red;">[{{error}}]</span> {% endfor %}
			    </p>
				<button type="submit" class="btn btn-default btn-primary submitbutton">
			        Edit profile
			    </button>
			</form>
		</div>
		{% endif %}

	<div class="Art tabs hidden">
		<form action="{{url_for('Make_showcase')}}" method="post" enctype="multipart/form-data">
		    {{ form1.hidden_tag() }}
		    <p>
		        {{ form1.title.label }}
		        <br>
		        {{ form1.title(size=32) }}
		        <br>
		        {% for error in form1.title.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
			<p>
		        {{ form1.technique.label }}
		        <br>
		        {{ form1.technique(size=32) }}
		        <br>
		        {% for error in form1.technique.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
			<p>
		        {{ form1.location.label }}
		        <br>
		        {{ form1.location(size=32) }}
		        <br>
		        {% for error in form1.location.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
			<p>
		        {{ form1.form.label }}
		        <br>
		        {{ form1.form(size=32) }}
		        <br>
		        {% for error in form1.form.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
			<p>
		        {{ form1.type.label }}
		        <br>
		        {{ form1.type(size=32) }}
		        <br>
		        {% for error in form1.type.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
			<p>
		        {{ form1.photo}}<br>
		        {% for error in form1.photo.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
		    <button type="submit" class="btn btn-default btn-primary">
		        Upload!
		    </button>
		</form>
	</div>

	<div class="Make tabs hidden">
		<form action="{{ url_for('Make_playlist') }}" method="post">
			<p>
				{{form2.titlel.label}}<br>
				{{form2.titlel(size=32)}}
				{% for error in form1.form.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
			</p>
			<p>
				{{form2.descl.label}}<br>
				{{form2.descl(size=32)}}
				{% for error in form1.form.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
			</p>
			<button type="submit" class="btn btn-default btn-primary">
			   Create!
		   </button>
		</form>
	</div>

</div>
{% endblock %}

{% block lstyles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block localScripts %}
<script src="{{url_for('static', filename='js/profile.js')}}" charset="utf-8"></script>
{% endblock %}
