{% extends 'main.html' %}

{% block main %}
<h1 style="text-align: center;">Your search: {{Term}}</h1>
<div class="arts">
	<div class="card">
	<div class="card-header">
	  Art
	</div>
	 <ul class="list-group list-group-flush">
		{% for art in arts %}
		<li class="list-group-item"><a href='{{url_for("art", id=art.id)}}'>{{art.title}}</a></li>
		{% endfor %}
	</ul>
  </div>
</div>
<div class="artists">
	<div class="card">
	<div class="card-header">
	  Artists
	</div>
	 <ul class="list-group list-group-flush">
		{% for art in artists %}
		<li class="list-group-item"><a href='{{url_for("artist", id=art.id)}}'>{{art.name}}</a></li>
		{% endfor %}
	</ul>
  </div>
</div>
<div class="card">
<div class="card-header">
  Users
</div>
 <ul class="list-group list-group-flush">
	{% for art in users %}
	<li class="list-group-item"><a href='{{url_for("user", username=art.username)}}'>{{art.username}}</a></li>
	{% endfor %}
</ul>
</div>
{% endblock %}

{% block localScripts %}
<script src="{{url_for('static', filename='js/search.js')}}" charset="utf-8"></script>
{% endblock %}

{% block lstyles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}
